In [73]:
import compare_models
from compare_models import *
import importlib

In [74]:
filePath = r'../metrics'

In [78]:
importlib.reload(compare_models)
comparator = CompareModels(filePath)
test, faint = comparator.getResults()
test

                             MSE       R^2       NLL
model_name
dg_mean_stddev_dropout  0.093244  0.833624  0.573398
sg_mean_stddev          0.093570  0.833041       NaN

In [69]:
faint

                             MSE       R^2       NLL
model_name
dg_mean_stddev_dropout  0.210995  0.381905 -0.471576
sg_mean_stddev          0.210022  0.384755       NaN