In [1]:
import sys
sys.path.append("..")

import compare_models

In [2]:
comparator = compare_models.CompareModels(r"../../metrics/experiment2")
test, faint = comparator.getResults()

# order = ["single_gauss", "double_gauss", "triple_gauss"]
# test, faint = test.reindex(order), faint.reindex(order)

In [3]:
print("Random test")
test

Random test

                           MSE       R^2       NLL
model_name
ANN                   0.103878  0.814649       NaN
MG_1_components       0.103235  0.815796 -0.142893
MG_2_components       0.092255  0.835388 -0.666300
MG_2_components+errs  0.092879  0.834275 -0.674892
MG_3_components       0.094085  0.832123 -0.691918
MG_3_components+mode  0.122767  0.780945 -0.691918
MG_4_components       0.094106  0.832086 -0.663337
MG_5_components       0.094370  0.831615 -0.639555

In [4]:
print("Faint")
faint

Faint

                           MSE       R^2       NLL
model_name
ANN                   0.228153  0.330403       NaN
MG_1_components       0.219181  0.356735  0.467407
MG_2_components       0.213090  0.374613  0.283395
MG_2_components+errs  0.213891  0.372262  0.294699
MG_3_components       0.214645  0.370049  0.237744
MG_3_components+mode  0.241790  0.290382  0.237744
MG_4_components       0.215004  0.368994  0.239241
MG_5_components       0.216531  0.364515  0.246389