In [21]:
import sys
sys.path.append("..")

import compare_models

In [22]:
comparator = compare_models.CompareModels(r"../../metrics")
test, faint = comparator.getResults()

order = ["single_gauss", "double_gauss", "triple_gauss"]
test, faint = test.reindex(order), faint.reindex(order)

In [23]:
print("Random test")
test

Random test

                   MSE       R^2       NLL
model_name
single_gauss  0.097607  0.825839 -0.174682
double_gauss  0.093189  0.833722 -0.656501
triple_gauss  0.093072  0.833931 -0.653799

In [24]:
print("Faint")
faint

Faint

                   MSE       R^2       NLL
model_name
single_gauss  0.215438  0.368892  0.528413
double_gauss  0.217417  0.363091  0.317292
triple_gauss  0.218361  0.360328  0.265401